// globals
@import './variables.scss';

// animations
@import './animations.scss';

// components
// import header
@import './Header.scss';
// import footer
@import './Footer.scss';


* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background: $black;
  width: 100%;
  min-height: 100%;
  font-family: $montserat;
  font-weight: 400;
  font-size: setdefault-rem-px();
}

#root {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

#css-connector {
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  z-index: -4;
}

// mobile
@media screen and (max-width: $mobile-size) {
  #css-connector {
    width: 2px;
  }
}

// proportional shrink
@media screen and (max-width: 530px) {
  body, html {
    //  calc(MINFSpx + (MAXFS-MINFS)*(100vw-MINSZpx)/(MAXSZ-MINSZ))
    //*MINFS - min font-size
    //*MAXFS - max font-size
    //*MINSZ - min screen size
    //*MAXSZ - max screen size
    font-size: calc(10px + (16 - 10)*(100vw - 320px)/(530 - 320));
  }
}
