// import variables
@import './variables.scss';

nav {
  width: rem(1400);
  max-width: 100%;
  margin: 0 auto;
  padding: rem(30);
  text-align: center;
  position: relative;

  img {
    width: rem(200);
    vertical-align: middle;
  }

  button {
    position: absolute;
    top: 50%;
    right: rem(30);
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    padding: rem(8) rem(55);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: rem(8);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
  }

  button:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

}
// <- nav

.nav-details {
  width: 100%;
  background-color: $black;
  height: rem(85);
  position: relative;
  overflow: hidden;
  text-align: center;

  .upper-info-slide {
    padding-top: rem(10);
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    text-align: left;

    p {
      margin: 0;
      width: 100%;
      font-size: 1rem;
      padding: 0 rem(30);
      color: $white;

      img {
        width: rem(39);
        vertical-align: middle;
      }

      span.last-line {
        display: inline-block;
        padding-left: rem(70);
      }
    }
  }

}
// <- .nav-details

// mobile
@media screen and (max-width: 860px) {
  nav {
    text-align: left;
  }
  .nav-details {
    height: rem(100);

    .upper-info-slide {
      text-align: center;

      p {
        max-width: rem(560);
        text-align: left;
        display: inline-block;
      }
    }
  }
}

// topo slide fix
.second-anim {
  opacity: 0 ;
}
