// import variables
@import '../../../assets/variables.scss';

#home {
  width: 100%;
  min-height: 100%;
  background-color: $black;
  color: $white;

  .header {
    background-image: url("../../../../../public/assets/pozadina1.jpg");
    background-size: rem(1920) auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    header {
      text-align: center;

      .header-cont {
        width: 80%;
        max-width: 800px;
        margin: rem(50) auto;
        padding-top: rem(30);

        h1 {
          font-size: 2.5rem;
        }
      }

      .sub-header-cont {
        width: 90%;
        max-width: 980px;
        margin: 0 auto;

        p {
          margin: 1rem;
          text-align: justify;
          text-align-last: center;
          padding-bottom: rem(1);
        }
      }
    }
    // <- header

    .stats {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      padding-bottom: rem(50);

      .astat-cont {
        width: rem(100);
        height: rem(100);
        background-color: $black;
        border-radius: rem(50);
        position: relative;
        display: inline-block;
        margin: rem(50);

        .astat-cont-inner {
          position: relative;
          width: 100%;
          height: 100%;
        }

        .img-cont {
          position: absolute;
          top: 0;
          left: 0;
          width: rem(40);
          border-radius: rem(20);
          padding: rem(5);
          text-align: center;
          background-color: $black;
          transform: translate(rem(-10), rem(-10));

          img {
            width: rem(26);
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
          }
        }

        .text-cont {
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translateX(-50%);

          p.nmb {
            font-weight: 700;
            font-size: 1.5rem;
            margin: 0;
          }

          p.text {
            font-size: 0.5rem;
            padding-top: rem(5);
            margin: 0;
          }
        }
      }
      // <- .astat-cont
    }
    // <- .stats
  }
  // <- .header

  main {
    width: 100%;
    overflow: hidden;

    section.planets {
      width: 100%;
      height: rem(618);
      overflow: hidden;
      background-image: url("../../../../../public/assets/pozadina2.jpg");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: relative;

      .planets-inner {
        width: 90%;
        max-width: 1400px;
        height: 100%;
        display: table;
        margin: 0 auto;
        table-layout: fixed;

        .left, .right {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }

        .left {
          img {
            width: rem(579);
            max-width: calc(100% - rem(50));
          }
        }

        .right {
          text-align: left;

          p {
            width: 100%;
            max-width: 580px;
          }
        }

      }
    }
    // <- planets

    section.amulet {
      width: 100%;
      overflow: hidden;
      text-align: center;
      position: relative;
      padding: rem(50);
      background-color: $black;

      .left {
        display: inline-block;
        transform: translateX(rem(-50));

        img {
          vertical-align: middle;
          width: rem(1160);
          max-width: 100%;
        }
      }

      .right {
        position: absolute;
        top: 50%;
        left: calc(50% + rem(330));
        transform: translateY(-50%);

        img {
          vertical-align: baseline;
          width: rem(116);
        }
      }
    }
    // .amulet

    section.astrologists {
      width: 100%;
      background-image: url(../../../../../public/assets/pozadina3.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      padding: rem(80) 0 rem(80);

      .astro-headline {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;

        h2 {
          font-size: 2rem;
        }

        p {
          line-height: 1.2;
          text-align: justify;
          text-align-last: center;
        }
      }

      .caro-cont {
        width: "100%";
        max-width: "1500px";
        overflow-x: "hidden";
        margin: "0 auto";
        overflow-y: "auto";
        padding-bottom: "50px";
      }

      .astro-slide-cont {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        overflow: visible;
        padding-top: rem(200);

        .carousel.carousel-slider, .carousel .slider-wrapper {
          overflow: visible;
        }

        ul.slider.animated {
          overflow: visible;
        }

        .control-dots {
          transform: translateY(rem(40));
        }

        li.slide {
          padding: 0;
          position: relative;
          z-index: 2;
          padding: rem(120) rem(20) rem(10);
          background-color: $black;
          border-radius: rem(30);
          overflow: visible;

          .img-cont {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $black;
            padding: rem(10);
            width: rem(216);
            height: rem(216);
            border-radius: calc((rem(196) + rem(20)) / 2);

            .img-wrapper {
              width: 100;
              height: 100%;
              border-radius: 50%;
              overflow: hidden;
            }

            img {
              width: rem(196);
            }
          }
        }
        li.slide.selected {
          overflow: visible;
        }
        li.slide:not(.selected) {
          z-index: 1;
          transform: scale(0.8, 0.8) ;
          opacity: 0.4;
        }

        .slide-member-cont {
          width: 100%;

          .name-table {
            display: table;
            width: 100%;

            .left {
              display: table-cell;
              text-align: left;

              p {

                span {
                  font-weight: 700;
                  text-transform: uppercase;
                }
              }
            }

            .right {
              display: table-cell;
              text-align: right;

              p {
                vertical-align: middle;

                img {
                  width: rem(30);
                  vertical-align: middle;
                  margin-right: rem(4);
                }
              }
            }
          }

          .osavet {
            p {
              text-align: justify;
              line-height: 1.2;

              span {
                font-weight: 700;
              }
            }
          }

          .tehn {
            p {
              text-align: justify;
              line-height: 1.4;

              span {
                font-weight: 700;
              }
            }
          }

          a {
            text-decoration: none;
            color: #fff;
            display: block;
            width: 100%;
            padding: rem(20);
            font-weight: 700;
            border-radius: rem(10);
            display: table;
            table-layout: fixed;

            .left, .right {
              display: table-cell;
              vertical-align: middle;
              text-align: left;
              font-size: 0.85rem;
            }

            .right {
              display: table-cell;
              vertical-align: middle;
              text-align: right;
            }
          }

          a.av {
            background-color: rgb(1, 187, 1);
          }

          a.non-av {
            background-color: rgb(197, 2, 2);
          }

        }

      }
    }
    // .astrologists

    section.witch {
      width: 100%;
      padding-top: rem(80);
      background-color: $black;
      margin-bottom: 0;

      .witch-top-inner {
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
        position: relative;
        padding-bottom: rem(30);

        p {
          line-height: 1.3;
          text-align: justify;
          text-align-last: center;
          margin: 0;
        }

      }

      .witch-bottom-inner {
        width: 90%;
        max-width: 1041px;
        margin: 0 auto;
        position: relative;

        .witch-table {
          width: 100%;
          position: relative;
          z-index: 2;
          display: table;

          .left {
            display: table-cell;
            vertical-align: bottom;
            width: rem(673);

            img {
              width: 100%;
            }
          }

          .right {
            display: table-cell;
            vertical-align: bottom;
            width: rem(368);

            img {
              width: 100%;
            }
          }
        }

        .back {
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateX(-50%);
        }
      }
    }
    // <- .witch

    section.clients {
      width: 100%;
      text-align: center;
      background-image: url(../../../../../public/assets/pozadina4.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      padding-top: rem(80);

      h2 {
        font-size: 2rem;
      }

      .client-table {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        display: table;
        table-layout: fixed;

        .client-table-left, .client-table-right {
          display: table-cell;
          vertical-align: top;
          padding: 0 rem(20);
        }
      }

      .client-cont {
        width: 90%;
        margin: rem(50) auto;
        background-color: $black;
        padding: rem(40) rem(40) rem(40) rem(100);
        position: relative;
        text-align: left;
        border-radius: rem(40);

        h3 {
          font-weight: 700;
          font-size: 1.2rem;
        }

        p {
          line-height: 1.4;
          text-align: justify;
          text-align-last: left;
        }

        .client-pic-holder {
          position: absolute;
          top: 50%;
          left: 0;
          width: rem(140);
          height: rem(140);
          border-radius: rem(70);
          background-color: $black;
          transform: translate(-40%, -50%);
          overflow: hidden;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%);
          }
        }
      }

    }
    // <- .clients
  }
  // <- main
}
// <- Home

// amulet fix
@media screen and (max-width: 1040px) {
  #home main section.amulet .right {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translateY(-50%);

    img {
      vertical-align: baseline;
      width: rem(116);
    }
  }

  #home main section.clients {
    .client-table {
      display: block;
      width: 90%;

      .client-table-left, .client-table-right {
        width: 100%;
        display: block;
      }
    }
  }
}

// mobile
@media screen and (max-width: $mobile-size) {
  #home {
    .header {
      background-image: url("../../../../../public/assets/pozadina1-mob.jpg");
      background-size: rem(750) auto;

      header {
        .header-cont {
          padding-top: 0;
          h1 {
            font-size: 2.5rem;
          }
        }
      }

      .stats {
        padding-bottom: rem(30);

        .astat-cont {
          width: rem(150);
          height: rem(150);
          border-radius: rem(75);
          margin: rem(40);

          .img-cont {
            width: rem(60);
            height: rem(60);
            border-radius: rem(30);
            padding: rem(5);
            text-align: center;
            background-color: $black;
            transform: translate(rem(-18), rem(-18));
            position: relative;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: rem(32);
            }
          }

          .text-cont {
            top: 20%;

            p.nmb {
              font-weight: 700;
              font-size: 2rem;
              margin: 0;
            }

            p.text {
              font-size: 0.8rem;
              padding-top: rem(5);
              margin: 0;
            }
          }
        }
        // .astat-cont
      }
      // .stats
    }
    // .header

    main {
      width: 100%;
      overflow: hidden;

      section.planets {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center center;
        padding-bottom: rem(50);

        .planets-inner {
          display: block;

          .left, .right {
            display: block;
            width: 100%;
          }

          .left {
            img {
              width: rem(579);
              max-width: 100%;
            }
          }

          .right {
            text-align: left;

            p {
              width: 100%;
              max-width: 580px;
            }
          }

        }
      }
      // <- planets

      section.amulet {
        // padding: rem(50);
        text-align: left;
        background-image: linear-gradient(to right, rgba(41, 171, 226, 1), rgba(41, 171, 226, 0.3), $black);
        // proportional fix
        font-size: calc(7px + (16 - 7)*(100vw - 320px)/(750 - 320));

        .left {
          display: inline-block;
          transform: translateX(0);
          padding-left: 0;
          margin-left: 0;

          p {
            max-width: 60%;
            margin: 0;
            font-size: 2.5em;
            font-weight: 700;
          }
        }

        .right {
          position: absolute;
          top: 50%;
          left: 60%;
          transform: translateY(-50%);

          img {
            vertical-align: baseline;
            width: em(300);
          }
        }
      }
      // .amulet

      section.astrologists {
        .astro-slide-cont {
          .slide-member-cont {
            a {
              table-layout: auto;
            }
          }
        }
      }
      // .astrologists

      section.witch {

        .witch-top-inner {
          padding-bottom: rem(30);
        }

        .witch-bottom-inner {
          .witch-table {
            width: 100%;
            max-width: 100%;
            display: block;
            text-align: center;

            .left {
              display: inline-block;
              width: 95%;
              max-width: 95%;
              max-width: rem(673);

              img {
                width: 100%;
              }
            }

            .right {
              display: inline-block;
              text-align: center;
              width: 60%;
              max-width: 60%;

              img {
                width: 100%;
              }
            }
          }

          .back {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            img {
              width: 100%;
            }
          }
        }
      }
      // <- .witch

      section.clients {
        width: 100%;
        .client-table {
          .client-cont {
            // margin-left: rem(-20);
            width: 100%;
            margin-right: rem(-20);
          }
        }
      }
      // <- .clients

    }
    // main
  }
  // #home

}
